header ion-icon{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 2.5rem;
    color: rgb(25, 25, 25);
}
header ion-icon:hover{
    color: rgb(128, 118, 118);
}

#tbl-books{
    th:first-child,
    tbody td:first-child{
        min-width: 110px;
        max-width: 170px;
        word-break: keep-all;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    th:nth-child(2),
    tbody td:nth-child(2){
        min-width: 150px;
        max-width: 250px;
    }
    
    th:last-child,
    tbody td:last-child{
        width: 150px;
        min-width: 150px;
        text-align: center;
    }   
    
    &.empty tfoot{
        display: table-footer-group;
    }
    tfoot{
        display: none;
    }
    tbody tr:focus{
        background-color: lightgrey;
    }
}

#loader{

    display: flex;
    justify-content: center;

    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: rgb(25, 25, 25);
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }

    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }
        
}